.buttonsMain {
  font-size: 17px;
  padding: 8px 12px;
  margin: 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1px #cdeffb;
  color: #ffffff;
  text-shadow: 0 1px 0 #b6e6f9;
  &:hover{
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px #777777) contrast(150%);
  }
}