.case {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin: 12px 0 0 0;
  max-height: max-content;
  width: 100%;
}
.productImg {
  max-width: 200px;
  max-height: 200px;
  padding: 8px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.name {
  margin: 4px auto;
  text-align: center;
  font-size: 22px;
}
.price {
  font-size: 18px;
}
.productImgWrapper {
  height: 200px;
  border-radius: 4px;
  position:relative;
}
.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star {
  cursor: pointer;
}